<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>QUnit and Require.js demo</title>
	<link rel="stylesheet" href="../../bower_components/qunit/qunit/qunit.css">
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script data-main="testsMain" src="../../bower_components/requirejs/require.js"></script>
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script type="text/template" id="fileTemplate">
	<input type="checkbox" class="item-check" <%= checked %>>
	<div class="rename-box">
		<input type="text" class="rename-box__filename" value="<%= name %>">
		<button class="cancel button-secondary">Cancel</button>
		<button class="save button-primary">Save</button>
	</div>
	<a href="<%= url %>" class="filename" <%= target %>><%= name %></a>
</script>
</body>
</html>
