$color-text: #525252;
$color-text-secondary: #999;

$color-border-light: #f7f7f7;
$color-border: #e2e2e2;

$color-button-border: #d3d3d3;
$color-button-background: #f8f8f8;
$color-button-primary-background: #3898ec;
$color-button-primary-background-hover: #40a2f0;
$color-button-primary-text: #fff;
$color-button-background-hover: #fafaeb;

$font-size-base: 12px;
